.App {
  min-height: 20vh;
  height: 20vmin;
  min-width: 100%;
}

.App-logo {
  height: 30vmin;
  display: flex;
  width: 100%;
}

.App-header {
  font-size: calc(10px + 2vmin);
  color: rgb(20, 3, 3);
}

.App-link {
  color: #52cdf0;
}

.App-ProfileWidget {
  margin-left: 10px;
}

.w3-myfont {
  font-family: "Comic Sans MS", cursive, sans-serif;
}

/* 
Component App-body
*/


.App-body {
  background-color: #ffffff;
  min-height: 70vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: calc(3px + 2vmin);
  color: rgb(0, 0, 0);
}

.body-left {
  display: flex;
  flex: 0.5;
  flex-direction: column;
  align-items: center;  
}

.body-right {
  display: flex;
  flex: 1;
  flex-direction: column;
  background-color: #ffffff;
}

/* 
Component Body-tap
*/

.body-tap{
  position: fixed;
  display: flex;
  flex-direction: row;
  background-color: #fafafa6c;
  height: 5vh;
  width: 100%;
}


.Body-tap{
  display: flex;
  flex: 1;
  background-color: #14030300;
  align-items: center;
  justify-content: center;
  padding: 2vh;
}




/* 
Component Img profile
*/

.Img-profile {
  position: relative;
  top: -10%;
  min-width: 25vh;
  min-height: 25vh;
  width: 25%;
  height: 25%;
  border-radius: 50%;
}

.Img-profile-position {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;  
}




/* 
Component Home
*/

.text-center{
  justify-content: center;
  align-items: center;  
  font-size: 90%;
}

.text-margin{
  margin-top: 5%;
  margin-left: 5%;
  margin-bottom: 5%;
}

.img-size-profile{
  border-radius: 20vh;
  width: 25vh;
  height: 25vh;
  margin-left: 2%;
}

.img-size{
  border-radius: 20vh;
  width: 25vh;
  height: 25vh;
  margin-left: 2%;
}

.img-profile-position-git-name{
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;  
  width: 90%;
  border: 1px solid rgb(158, 236, 184); 
  border-radius: 40px;
  margin-bottom: 3vh;
  background-color: #ffffffc9;
}

.text-profile-position-git-name {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;  
  width: 90%;
}

.text-profile-position-git-name-profile {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;  
  width: 120%;
}





.text-profile-position-git {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;  
}


/* 
Component profile
*/


.text-profile-position {
  position: relative;
  top: -10%;
  display: flex;
  flex-direction: row;
  align-items: center;  
}

.text-Content-position{
  position: relative;
  top: -10%;
  display: flex;
  flex-direction: column;
  align-items: center;  
  border: 1px solid rgb(125, 207, 228); 
  border-radius: 40px;
  width: 70%;
}
.text-Content-position-about{
  background-color: #a0f4ff33;
  position: relative;
  top: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;  
  border: 1px solid rgb(143, 219, 238); 
  border-radius: 40px;
  width: 90%;
  margin-bottom: 2vh;
  margin-top: 5vh;
}

.text-profile-position{
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;  
}


/* 
Component contact
*/

.contact-list-position{
  display: flex;
  flex-direction: column;
}

.contact-list-positon-icon{
  margin-bottom: 2vh;
  
}

.contact-list-positon-icon-text{
  display: flex;
  align-items: center;
  color: #73b1c2;
  font-family: "Comic Sans MS", cursive, sans-serif;
}


.img_Contact{
  width: 5vh;
  height: 5vh;
  margin-right: 2vh;
}

/* 
Component Instagram
 */

.Instagram-position{

}

/* 
Component Search
 */

.search-bar {
  margin: 20px;
  text-align: center;
}

.input {
  width: 20%;
}

.search {
  margin-left: 4vh;
  width: 20%;
}






/* 
Component video-item
*/

.video-item img {
  max-width: 64px;
}

.video-detail {
  margin-top: 10px;
  padding: 10px;
  flex-direction: column;
  display: flex;
}

.video-player-position {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;  
}

.video-player {
  width: 70vh;
  height: 50vh;
}

.video-text-details{
  margin-top: 5vmin;
  border: 1px solid #ddd; 
  border-radius: 4px;
}


.video-list{
  display: flex;
  flex-direction: row;
}

/* 
Component media
*/

.media-left{
  justify-content: center;
  align-items: center;
}

.media-body{
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: flex;
}

.media-heading{
  margin-left: 5vh;
  justify-content: center;
  align-items: center;
}

.list-group-item {
  cursor: pointer;
}

.list-group-item:hover {
  background-color: #eee;
}



/* 
  Css App New
  Home 
*/


.header-color{
  background: #5C258D;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #4389A2, #5C258D);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #4389A2, #5C258D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.landing-grid{
  background: #5C258D;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #4389A2, #5C258D);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #4389A2, #5C258D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.avatar-img{
  height: 250px;
  padding-top: 0px;
  border-radius: 100%;
}

.banner-text{
  background-color: black;
  opacity: .8;
  width: 75%;
  margin: auto;
  border-radius: 10px;
}

.banner-text h1{
  font-size: 65px;
  font-weight: bold;
  color: white;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

.banner-text hr{
  border-top: 5px dotted white;
  width: 50%;
  margin: auto;
}

.banner-text p{
 color: white;
 font-size: 20px;
 padding: 1em;
 font-family: "Comic Sans MS", cursive, sans-serif;
}

.social-links {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: auto;
  color: white;

}

.social-links i{
  font-size: 5em;
  color: white;
}


.project-grid{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}


.BodySearch {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: calc(3px + 2vmin);
  color: rgb(0, 0, 0);
  background-color: #DCDCDC;
  flex-wrap: wrap;
}

/* Resume Page css */
.resume-right-col {
  background: #27221F;
  color: white;
  padding: 2em;
}


/* contact page css */

.contact-body {
  margin: auto;
  position: fixed;
  width: 100%;
  height: 100%;
  justify-content: center;
  padding-top: 2em;
}

.contact-grid {
  text-align: center;
  justify-content: center;
  width: 80%;
  height: 550px;
  background: white;
  color: black;
  margin-bottom: 20px;
}

.contact-grid h2 {
  font-family: 'Anton', sans-serif;
}

.contact-grid p {
  font-family: 'Oxygen', sans-serif;
  font-weight: bold;
}

.contact-grid hr {
  border-top: 5px dotted black;
  width: 50%;
  margin: auto;
}

.contact-list i {
  font-size: 66px;
  padding-right: 5rem;
}

.aboutme-layout {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
}

.aboutme-layout-text{
  margin-left: 10%;
}

.aboutme-layout-text-button{
  position: relative;
  top: 0.5vh;
  margin-left: 10%;
}

.project-grid-about{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}